extends layout

block content
	h1 Hello #{currentUser.name}.
	h2 Welcome to Boulder #{currentUser.name}!  
	h3 My favorite hike is: #{currentUser.favoriteHike}
	h4 Below are some other popular hikes with great views:
	ul
		for hike in boulderHikes
			li= hike